* {
    font-family: Arial, Helvetica, sans-serif;
}

$device-media-queries: (
    xs: '(min-width: 0)',
    sm: '(min-width: 576px)',
    md: '(min-width: 768px)',
    lg: '(min-width: 992px)',
    xl: '(min-width: 1200px)',
    xxl: '(min-width: 1400px)',
);

.bodyBlock {
    overflow: hidden;
}

.border {
    border: 1px solid black;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    border: 1px solid white;
    background-color: darken($primary-color, 50%);
    color: white;
    padding: 6px 3px;
    border-radius: 5px;
}
th {
    border-bottom: 3px solid black;
}
td {
    padding: 5px;
    border-bottom: 1px solid darken($primary-color, 55%);
}