.form{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .form__element{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        .form__label {
            padding-bottom: 5px;
            font-weight: bold;
            &--flex{
                display: flex;
                padding: 15px 0;
            }
        }
        .form__input {
            padding: 6px;
            margin-bottom: 3px;
            &--checkbox{
                margin: 0 15px 0 0;
            }
        }
    }
    &__question {
        font-size: 14px;
        padding: 15px 0 0 0;
    }
}
