.register {
    max-width: $max-width;
    width: 80%;
    margin: 30px auto;
    &__text {
        max-width: 700px;
        margin: 20px auto;
        font-weight: bold;
        font-family: $special-font;
        font-size: 1.2 rem;
        text-align: justify;
    }
}