@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.text-red {
    color: red;
}
.text-green{
    color: #98FB98;
}
.text-white{
    color: white;
}
.text-small {
    font-size: 10px;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.validate-info {
    font-size: 10px;
    text-align: center;
}